$primary-brand: #1594f3;
$dark-brand: #0568b4;
$contrast: #ff8517;
$neutral: #c1c7cb;

$brand-font: 'Source Code Pro', Consolas, monospace;

$base-font-size: 16px;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-brand;
  font-family: $brand-font;
  font-size: $base-font-size;
}

button {
  background-color: $dark-brand;
  border-radius: 8px;
  color: white;
  font-family: $brand-font;
  font-size: 22px;
  padding: 24px 16px;
  border: 0;
}

svg#brand {
  margin: 24px auto 0;
  display: block;

  &:hover #outer,
  &:focus #outer {
      -webkit-animation: logo-press .4s ease-in-out 1 forwards;
  }

  #outer {
    transform-origin: 45px 41px;
  }
}

main {
  margin-top: 24px;

  button#soundzee {
    border-radius: 100%;
    border: 0;
    display: block;
    font-size: 32px;
    font-weight: bold;
    min-width: 260px;
    max-width: 260px;
    min-height: 260px;
    max-height: 260px;
    padding: 24px;
    outline: 0;
    background-color: $contrast;
    width: 70%;
    margin: 0 auto;
    color: white;
    font-family: $brand-font;
    z-index: 999;
    position: relative;
    -webkit-animation: breathe 2s ease-in-out infinite;

    &.pressed {
      -webkit-animation: soundzee-press .4s ease-in-out 1;
    }
  }
}

footer {
  margin: 42px 0 0;

  button {
    margin: 0 auto;
    display: block;
    min-width: 240px;
    width: 70%;
    max-width: 320px;

    &.pressed {
      -webkit-animation: soundzee-press .4s ease-in-out 1;
    }
  }
}

@-webkit-keyframes breathe {
  50% { -webkit-transform: scale(1.01,1.01); }
}

@-webkit-keyframes logo-press {
  100% { -webkit-transform: rotate(1turn); }
}

@-webkit-keyframes soundzee-press {
  70% { box-shadow: 0 0 0 30px $dark-brand, inset 0 0 0 10px rgba(0,0,0,.1); -webkit-transform: scale(0.9,0.9);  }
  100% { box-shadow: 0 0 0 100px rgba(0,0,0,0), inset 0 0 0 100px rgba(0,0,0,0); }
}
